@font-face {
	font-family: 'FF_500';
	src: url(../../assets/fonts/JDSansPro_Rg.woff2) format('woff2'),
	url(../../assets/fonts/JDSansPro_Rg.woff) format('woff'),
	url(../../assets/fonts/JDSansPro_Rg.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}
