@font-face {
	font-family: 'FF_700';
	src: url(../../assets/fonts/JDSansPro_Bd.woff2) format('woff2'),
	url(../../assets/fonts/JDSansPro_Bd.woff) format('woff'),
	url(../../assets/fonts/JDSansPro_Bd.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}
